.experience-page-container {
  /* background-color: pink; */
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.experience-page-next-btn {
  z-index: 16;
  right: 0;
}

.experience-page-back-btn {
  z-index: 16;
}

.experience-left-page-container {
	/* background-color: red; */
	height: 100%;
	width: 50%;
	overflow: scroll;
  }
  
  .experience-right-page-container {
	/* background-color: blue; */
	height: 100%;
	width: 50%;
	right: 0;
  }

  .patrick-hand-text {
    font-family: 'Patrick Hand';
  }